*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(../SamplePortfolio/images/background.jfif);
    background-position: center;
    background-size: cover;
}
nav{
    overflow: hidden;
   
}
nav a{    
    float: left;
    margin:10px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    margin-top: 35px;
}
nav a.btn{
  background-color:red;
  color: white;
  border-radius: 30px;
  font-weight:bold;
  font-size: 23px;
  font-weight: bold;
  float: right;
  margin-right: 30px;
  margin-top: 35px;
}
.name{
    font-size: 60px;
    color: white;
    margin-top: 20px;
    padding: 20px 20px;
    width:48%;
    float: left;
}
/* a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 10px;
} */
a:hover{
    color:rgb(153, 198, 82);
    transition: 1s;
}
.content{
    top:70px;
    left: 30px;
    position: absolute;
    transform: translate(50%, 70%);
}
.content h3{
    color: chocolate;
    font-size: 30px;
    margin-bottom: 20px;
}
.content h2{
    color:whitesmoke;
    font-size: 40px;
}
.content h4{
    color:aquamarine;
    margin-top: 10px;
    font-size: 30px;
}
.subscribe form{
    width:400px;
    position: relative;
}
.subscribe form input:first-child{
    margin-top: 2px;
    display: inline-block;
    width: 100%;
    padding: 15px 100px 10px 25px;
    border: 3px solid red;
    border-radius: 40px;
}
.subscribe form input:last-child{
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 40px;
    background-color: red;
    color: white;
    position: absolute;
    top:6px;
    right: 7px;
    box-shadow: 0px 0px 10px black;
}
.about_me{
    width: 100%;
    background-color: rgb(178, 180, 183);
}
.about_me img{
    width: 500px;
    height: 500px;
}
.about_content{
    color: rgb(122, 21, 26);
    margin-left: 40px;
}
.main{
    display: flex;
}
.about_content h3{
    font-size: 5em;
    letter-spacing: 2px;
}
.about_content h5{
    font-size:3em;
    letter-spacing: 2px;
}
.about_content p{
    font-size:1.5em;
    letter-spacing: 2px;
}
.btn_talk{
    background-color:red;
    color: white;
    border-radius: 30px;
    font-weight:bold;
    font-size: 23px;
    padding: 5px 10px;
    text-decoration: none;
}
.btn_talk:hover{
    background-color:transparent;
    border: 2px solid red;
    color: red;
}
.btn:hover{
    transform: scale(1.1);
}
.skills{
    background-color:darkgray;
    width: 100%;
}
.title h2{
    font-size: 60px;
    text-align: center;
    color: darkcyan;
}
.box{
    display: flex;
    justify-content: center;
}
.card{
    height: 300px;
    width: 300px;
    background-color: lightgrey;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
}
.card h4{
    font-size: 35px;
    text-align: center;
    color: darkgreen;
    letter-spacing:2px;
}
.Para p{
    color: rgb(57, 148, 101);
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
}
.Para .skills_btn{
    background-color:darkslategray;
    border: 2px solid darkolivegreen;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}